* {
    background-color:#202C39;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:#ffffff;
}

@keyframes hover {
    from {color:black}
    to {color:#DC2E3F}
}

ul {
    background-color:white;
    color:black;
}

li {
    background-color:white;
    color:black;
}

a {
    background-color:white;
    color:black;
}

a:hover {
    animation: hover 0.4s;

    color:#DC2E3F;
}

p {
    background-color:white;
    color:black
}

@keyframes link_hover {
    from {background-color: #DC2E3F; color:black}
    to {background-color: #283845; color:white}
}

#topbar {
    position:fixed;
    background-color:#DC2E3F;
    height:60px;
    width:100%;
    color:#000000;
    top:0;
    left:0;
    right:0;
}

#topbar a {
    display:inline-block;
    background-color:#DC2E3F;
    color:black;
    margin-left:10px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:30px;
    padding-right:30px;
    height:20px;
    text-align:center;
}

#right {
    float:right;
    margin-right:10px;
}

#topbar a:link {
    text-decoration:none;
}

#topbar a:hover {
    animation:link_hover 0.4s;

    background-color:#283845;
    color:white;
}

#intro {
    background-color:white;
    width:75%;
    margin:auto;
    margin-top:100px;
    padding:20px;
    color:#000000;
}

#intro img {
    float:left;
    margin-right:20px;
}

#box {
    background-color:white;
    width:75%;
    height:260px;
    margin:auto;
    margin-top:20px;
    padding:20px;
    color:#000000;
}